<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="#" class="logo">Logo</a>
            <nav class="nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Academy
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            Features
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn">Sign in</a>
            </nav>
            <div class="burger">
                <div class="burger-line"></div>
            </div>
        </div>
    </div>
</header>