<section class="hero section">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__data">
        <h1 class="title">
          Great Meeting Are <br />
          Just The Beginning
        </h1>
        <p class="info">
          We help your team build grat meeting habits through collaborative
          agendas and easy-to schedule meeting.
        </p>
        <div class="btns">
          <a href="#" class="btn">Start Today</a>
          <a href="#" class="btn btn-dark">Registration</a>
        </div>
        <div class="cam">
          <div class="img">
            <img src="img/duo.png" alt="" />
          </div>
          <div class="txt">
            Join us on <br />
            google duo
          </div>
        </div>
      </div>
      <div class="hero__img">
        <div class="carousel-col">
          <div class="img img1"></div>
          <div class="img img2"></div>
          <div class="img img3"></div>
          <div class="img img1"></div>
          <div class="img img2"></div>
          <div class="img img3"></div>
        </div>
        <div class="carousel-col">
          <div class="img img4"></div>
          <div class="img img5"></div>
          <div class="img img6"></div>
          <div class="img img4"></div>
          <div class="img img5"></div>
          <div class="img img6"></div>
        </div>
        <div class="carousel-col">
          <div class="img img3"></div>
          <div class="img img1"></div>
          <div class="img img2"></div>
          <div class="img img3"></div>
          <div class="img img1"></div>
          <div class="img img2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
